@import "tailwindcss";

@theme inline {
  --font-iran-sans: var(--font-iran-sans);
  --font-sf-pro: var(--font-sf-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.react-grid-placeholder {
  background-color: #ece9e930;
  z-index: 1;
  transition-duration: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 2rem;
}

.dark .react-grid-placeholder {
  background-color: #1d202550;
}

.react-draggable-dragging {
  z-index: 2;
}
.react-grid-item:not(.react-draggable-dragging):not(.react-grid-placeholder) {
  transition: 500ms;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
